@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>This line here is the message you are looking for!</p>

    <iframe src="https://giphy.com/embed/MZocLC5dJprPTcrm65" width="480" height="398" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/theoffice-MZocLC5dJprPTcrm65">via GIPHY</a></p>
</div>
